@import "tailwindcss";

  .dark {
    --background: 15 23 42;    /* Slate 900 */
    --foreground: 255 255 255; /* White */
  }

  @custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
